
.container1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container1 {
        width: 750px
    }
}

@media (min-width:992px) {
    .container1 {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container1 {
        width: 1170px
    }
}

.container-fluid1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.row1 {
    margin-right: -15px;
    margin-left: -15px
}





















