* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.show > .nav-link,
.active > .nav-link,
.nav-link.show,
.nav-link.active {
            color: #0cd98a !important;
    }

.navbar-light .navbar-nav .nav-link:hover {
    color: #0cd98a !important;
}

.mainHeader {
	width: 100%;
    height: 690px;
    position: relative;
}

.headerImg {
 	background: url('../img/sample.jpg') no-repeat;   

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.fog {
	position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/fog.png') repeat-x;
}

.caption h1{
    color: #5d5d5d;
    font-family: 'Tangerine', cursive;
    font-size: 70px;
    font-weight: bold; 
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.caption hr {
	 display: inline-block;
    overflow: visible; /* For IE */
    height: 30px;
    width: 300px;
    border-style: solid;
    border-color: #5d5d5d;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.caption hr:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    width: 300px;
    margin-top: -31px;
    border-style: solid;
    border-color: #5d5d5d;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    color: #5d5d5d;
    
}

.caption p{
	 color: #5d5d5d;
	 font-family: "raleway-regular";
     font-size: 25px;
     margin-bottom: 30px;
}


.heading h2 {
    font-family: 'Montserrat', sans-serif;
    color:#372d38;
    padding-bottom:10px;
    text-transform:uppercase;
    margin:0px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    /*margin-bottom: 20px;*/
    letter-spacing: 2px;
}

.heading h2:after {

    content: "";
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 2px solid #0cd98a;
    width: 90px;
}

.heading h3{
    font-family: 'Crimson Text', serif;
    font-style:italic;
    font-size:18px;
    line-height:30px;
    color:#5b4c5c;
    padding-bottom:0;
    font-weight:300;
    text-transform:none;
    letter-spacing:1px;
    text-align: center;
    margin: 0px !important;
}

.icons ul li {
    list-style-type: none;
}

.icons ul li img {
    width: 50px;
}

.profPic img {
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
    /*width: 150px;*/
}

.aboutme .btn-primary {
    border:2px solid #746c75;
    background:none;
    line-height:30px;
    font-size:12px;
    color:#372d38;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:600;
    border-radius: 0;
}
.aboutme .btn-primary:hover {
    color:#0cd98a !important;
    background: none !important;
    border-color: #0cd98a !important;
}


/* TESTIMONIALS */

#testimonials{
    margin-top: 100px;
}

#testimonials ul{
    margin-top: 70px;
    list-style: none;
}

#testimonials ul li{
    display: block;
    float: left;
    margin-left: 80px;
    width: 313px;
}

#testimonials ul li:first-child{
    margin-left: 0;
}

#testimonials ul li .quotes{
    margin-right: 10px;
}

#testimonials ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}

#testimonials ul li p .triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('../img/testimonial_triangle.png') no-repeat;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

#testimonials ul li .client{
    margin-left: 20px;
}

#testimonials ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

#testimonials ul li .client .client_details{
    float: left;
}

#testimonials ul li .client .client_details h4{
    color: #7b7979;
    font-family: "raleway-semibold";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

#testimonials ul li .client .client_details h5{
    color: #7b7979;
    font-family: "raleway-regular";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

/* PORTFOLIO */

.portfolio{
    background:#fff;
    width:100%;
    overflow:hidden;
}
.portfolio .container{
    padding-top:67px ;
    padding-bottom:0 ;
}


.portfolioFilter{
    display:block;
    margin:0 auto;
    text-align: center;
}

.portfolioFilter ul{
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 60px;
}
.portfolioFilter ul li{
    display:inline-block;
    margin:0 -2px;
    position:relative;
}
.portfolioFilter ul li:after {
    content:"";
    display:block;
    width:1px;
    height:10px;
    background:#938b94;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-5px;
}
.portfolioFilter ul li.last:after {
    background:#fff;
}
.portfolioFilter ul li a{
    padding:16px 30px;
    font-size:11px;
    line-height:15px;
    font-weight:bold;
    color:#6f6470;
    text-transform:uppercase;
    display:block;
    text-decoration:none;
    border-right:none;
    letter-spacing:2px;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.portfolioFilter ul li a:hover{
    border-color:#cfcfcf;
    color:#000;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.portfolioFilter ul li a.current{
    border:solid 1px #fff;
    color:#000;
}

/*
.portfolioContainer ul li{
    display:block;
    padding:0px;
    margin-bottom:0;
    list-style-type:none;
}*/

ul.portfolioContainer li{
    display:block !important;
    height:auto !important;
    padding:0px !important;
    margin:0px;
    cursor:pointer !important;
    border:1px solid #fff !important;
    width:24.8% !important;
}


ul.portfolioContainer li .lightCon{
    display:block !important;
    margin:0px !important;
    position:relative !important;
    overflow:hidden !important;
}


ul.portfolioContainer li img{
     width:100% !important;
     height:auto !important;
     display:block !important;
}

span.hoverBox{
    visibility:hidden !important;
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    left:0px !important;
    bottom: 0px !important;
    
    transition-duration: 0.2s !important;
    -webkit-transition-duration: 0.2s !important;
    
    background: rgba(76, 64, 78, 0) !important;
    
}
ul.portfolioContainer li:hover span.hoverBox{
    visibility:visible !important;
    left:0px !important;
    bottom: 0px !important;
    
    background: rgba(76, 64, 78, 0.9) !important;
    
    transition-duration: 0.2s !important;
    -webkit-transition-duration: 0.2s !important;
}

span.hoverBox a{
    line-height:54px !important;
}

span.hoverBox .smallIcon{
    width: 74px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -37px;
}

span.hoverBox .zoom{
    visibility:hidden;
    width:74px;
    height:74px;
    border:1px solid #fff;
    color:#fff;
    position: relative;
    top: 70px;
    left:-180%;
    background:url(../img/plus-icon.png) 50% 50% no-repeat;
    margin-left:47px;
    text-align:center;
    line-height:70px;
    display: block;
    float: left;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
ul.portfolioContainer li:hover span.hoverBox .zoom{
    visibility:visible;
    left:0;
    padding-top:7px;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
span.hoverBox .zoom i {
    font-size:0;
    text-indent:-100000px;
}

span.hoverBox .linKed{
    visibility:hidden;
    width:54px;
    height:54px;
    background:#313131;
    color:#fff;
    position: relative;
    right:-180%;
    text-align:center;
    line-height:52px;
    display: block;
    float: right;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
ul.portfolioContainer li:hover span.hoverBox .linKed{
    visibility:visible;
    right:0%;
    padding-top:7px;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.isotope-item {
    z-index: 2 !important;
}
.isotope-hidden.isotope-item {
    pointer-events: none !important;
    z-index: 1 !important;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s !important;
    -moz-transition-duration: 0.8s !important;
    transition-duration: 0.8s !important;
}
.isotope {
    -webkit-transition-property: height, width !important;
    -moz-transition-property: height, width !important;
    transition-property: height, width !important;
}
.isotope .isotope-item {
    padding:0 !important;
    
    -webkit-transition-property: -webkit-transform, opacity !important;
    -moz-transition-property: -moz-transform, opacity !important;
    transition-property: transform, opacity !important;
}


.abc{
    position: absolute !important;
    width: 782px !important;
    height: auto !important;
    top: 20% !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 99999 !important;
    margin: 0 auto !important;
}
.abc #pbImage{
    position:static !important;
}

#pbCaption{
    display:block; 
    background:none !important;
}
#pbBottom{
    position: relative !important;
    left: 26.1% !important;
    bottom: 0px !important;
    width: 100% !important;
    margin-left: -26% !important;
    padding: 0px !important;
    height:80px !important;
    
    display: block;
    background-color: rgba(24,27,34,1);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#B0000000, EndColorStr=#B0000000);
}
#pbCloseBtn{
    position:absolute !important;
}

footer {
    padding: 25px 0;
    overflow: hidden;
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
}